<!DOCTYPE html>
<html>
<head>
	<title>Movie Trivia</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/movies.css" type="text/css"/>

</head>
<body id="background">
	<h1 id="titulo">Welcome To Trivia Masters</h1>

		<div class="container">
			<div class="box">
			<div>
				<p id="login"><strong>Please fill out form to signup</strong></p>
				<div class="form-group">
				    <label class="sr-only" for="exampleInputUser">Name</label>
				    <input type="name" class="form-control" id="userName" placeholder="Enter your name">
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputUser">Username</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter Username">
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputPassword3">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
				  </div>
				  <button type="submit" class="btn btn-primary">Signup</button>
				<a href="/login"><p id="member">Already a member?</p></a>
			</div>
			</div>
		</div>
	


</body>
</html>